.container{
    display: "flex";
    justify-content : "space-between";
    align-items: center;
    color: "#bcbcbc";
    font-size: 20px;
    font-weight: 400px;
    padding: 0 2.8rem;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
p{
    color: "#bcbcbc"
}
hr{
    margin-bottom: 30px;
    border-top: 3px solid rgb(225, 249, 244);
    background-color: "e1f9f4";
}