body {
    background-color: #fbfbfb;
  }
.sinup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.SignUp{
    border: 1px solid gray;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    border-radius: 10px;
}

input{
    padding: 10px;
}