/*Router is parent  of  form*/
.router {
    position: absolute;

}

/* outer_form class name given to form tag*/
.outer_form {
    width: 1050px;
    border-radius: 30px;
    position: relative;
    left: 10px;
    background: #FFF;
    box-shadow: 10px 14px 70px 0px rgba(0, 0, 0, 0.03);
}

.form {
    width: 1000px;
    /* height: 656px;*/
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;

    display: flex;
    margin-bottom: 25px;
}

/* Left side input margin*/
.form_first {
    margin-left: 61px;
    margin-right: 41px;
}

/* Input tag */
input {
    width: 450px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #C3C3C3;

}

/* Select Tag */
select {
    width: 450px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #C3C3C3;
    color: #7D7D7D;
}

/* Option Style*/

option {
    color: #7D7D7D;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span {
    margin-right: 15px;
}

/*  Label style*/
label {
    color: #7D7D7D;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

/*   Add property heading style*/
.prop_heading {
    color: #7D7D7D;
    font-family: Source Sans Pro;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    left: 30px;
    position: relative;
}

/*button div wrapper*/
.btn {
    text-align-last: center;
    margin-left: 370px;
}

/* Right side button*/
.btn2 {
    width: 187px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #4C57B6;
    box-shadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* left side button style*/
.btn1 {
    width: 187px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #6AB4F8;
    box-shadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 40px;
}

/*Overriding input property for image input*/
#image {
    width: 105px;
    height: 105px;
    flex-shrink: 0;

    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.13));
    border-radius: 50%;
    background-color: #6AB4F8;
}

/* all four page indicator*/
.page_indicator {
    align-items: center;
    width: 900px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #FFF;
    box-shadow: 10px 14px 70px 0px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: space-around;
    margin-left: 95px;
}

/*Text inside page indicator*/
.indi {
    color: #BFBFBF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Sidebar {

    z-index: -1;
}

.second_wrapper {
    left: 230px;
    position: relative;
    z-index: 3;
    top: -600px;
}

.blue {
    width: 187px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #4C57B6;
    box-shadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    /* border-top: none; */
    /* top: 15px; */
    position: relative;
    padding-top: 15px;
}