.form {
    display: flex;
    margin: 20px;
    position: relative;
    z-index: 15;
}

.form_first {
    margin-right: 30px;
}

input {
    width: 300px;
    height: 30px;
    font-size: 15px;
}

select {
    width: 310px;
    height: 35px;
    font-size: 15px
}
span{
    margin-right: 15px;
}